
/* Developer: Siu engineer.siu@gmail.com */

* { padding: 0;
  margin: 0;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   font-size: 16px; 
   text-align: center;
   margin: 0;
}

h1, label, input, button, div {
   margin: 1px 0;
   font-size: 16px; 
}

.note {
   font-size: 10px;
   background-color: yellow; 
}